html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  min-width: 450px;
  padding: 30px;
  border: 5px solid #035e7f;
  border-radius: 10px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
